body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
}

.tabla td {
  text-align: left;
  padding: 1rem;
}

#menu {
  background-color: #253a43;
  padding: 20px;
  font-size: 15px;
}

#menu a {
  color: white;
  padding: 0 10px;
}
